<?xml version="1.0"
      encoding="utf-8" ?>

<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <!--<add key="local_test"
         value="D:\test\nupkgs" />-->
    <add key="nuget"
         value="https://api.nuget.org/v3/index.json" />
  </packageSources>

</configuration>
